#include "resource.h"
#include "afxres.h"
#pragma code_page(65001)

IDD_DLG_HW_LISTING_CAN DIALOGEX 0, 0, 581, 205
STYLE DS_SETFONT | DS_MODALFRAME | DS_CONTEXTHELP | WS_POPUP | WS_CAPTION | WS_SYSMENU
EXSTYLE WS_EX_CONTEXTHELP
CAPTION "Hardware Selection"
FONT 8, "MS Sans Serif", 0, 0, 0x1
BEGIN
    CONTROL         "List1",IDC_LSTC_HW_LIST,"SysListView32",LVS_REPORT | LVS_SINGLESEL | LVS_SHOWSELALWAYS | WS_BORDER | WS_TABSTOP,8,19,166,137
    DEFPUSHBUTTON   "&>>",IDC_BUT_SELECT,180,66,27,14
    DEFPUSHBUTTON   "&<<",IDC_BUT_REMOVE,180,106,27,14
    CONTROL         "List1",IDC_LSTC_SELECTED_HW_LIST,"SysListView32",LVS_REPORT | LVS_SINGLESEL | LVS_SHOWSELALWAYS | WS_BORDER | WS_TABSTOP,211,19,215,136
    EDITTEXT        IDC_CAN_EDIT_BAUD_RATE,477,65,71,14,ES_AUTOHSCROLL
    PUSHBUTTON      "Advanced",IDC_BUTTON_ADVANCE,528,169,50,14
    DEFPUSHBUTTON   "&OK",IDOK,473,187,50,14
    PUSHBUTTON      "&Cancel",IDCANCEL,528,187,50,14
    LTEXT           "Available CAN hardware",IDC_STATIC,45,7,96,9
    GROUPBOX        "Hardware Details",IDC_STATIC,437,7,138,43
    LTEXT           "Driver ID :",IDC_STATIC,443,22,34,9
    LTEXT           "Firmware :",IDC_STATIC,443,35,32,9
    EDITTEXT        IDC_EDIT_DRIVER_ID,477,22,52,12,ES_AUTOHSCROLL | ES_READONLY | NOT WS_BORDER | NOT WS_TABSTOP
    EDITTEXT        IDC_EDIT_FIRMWARE,479,35,69,12,ES_AUTOHSCROLL | ES_READONLY | NOT WS_BORDER | NOT WS_TABSTOP
    LTEXT           "Configured CAN Hardware",IDC_STATIC,268,7,105,9
    CONTROL         "_________________________________________________________________________________________________________________________________________________________________________________________",IDC_STAT_LINE3,
                    "Static",SS_LEFTNOWORDWRAP | WS_DISABLED | WS_GROUP,7,159,570,8
    GROUPBOX        "CAN",IDC_STATIC,437,54,139,112
    LTEXT           "BaudRate:",IDC_STATIC,441,67,35,8
    LTEXT           "bps",IDC_STATIC,551,67,12,8
    EDITTEXT        IDC_EDIT_HS_BTR0,478,84,23,14,ES_UPPERCASE | ES_AUTOHSCROLL
    EDITTEXT        IDC_EDIT_HS_BTR1,535,84,23,14,ES_UPPERCASE | ES_AUTOHSCROLL
    LTEXT           "BTR0:",IDC_STATIC,441,86,22,11
    LTEXT           "BTR1:",IDC_STATIC,509,86,22,11
    LTEXT           "Samples:",IDC_STATIC,441,104,31,11
    EDITTEXT        IDC_EDIT_HS_SAMPLE,478,102,23,14,ES_AUTOHSCROLL
    LTEXT           "Clock:",IDC_STATIC,509,104,26,11
    EDITTEXT        IDC_EDIT_HS_CLOCK,535,102,23,14,ES_AUTOHSCROLL
    CONTROL         "CANFD",IDC_CHECK_CANFD,"Button",BS_AUTOCHECKBOX | WS_TABSTOP,441,122,40,10
    LTEXT           "DataRate:",IDC_STATIC,441,138,35,8
    EDITTEXT        IDC_CANFD_EDIT_BAUD_RATE,477,135,71,14,ES_AUTOHSCROLL
    LTEXT           "bps",IDC_STATIC,551,138,12,8
    CONTROL         "120 Ohm Term",IDC_CHECK_TERMINATION,"Button",BS_AUTOCHECKBOX | WS_TABSTOP,441,152,90,10
END

IDD_ZLG_ADVANCE DIALOGEX 0, 0, 548, 328
STYLE DS_SETFONT | DS_MODALFRAME | WS_POPUP | WS_CAPTION | WS_SYSMENU
CAPTION "CAN FD 波特率计算器"
FONT 8, "MS Shell Dlg", 0, 0, 0x1
BEGIN
    LTEXT           "时钟频率:",IDC_STATIC,8,10,40,8
    COMBOBOX        IDC_ZLG_CLOCK,50,8,48,80,CBS_DROPDOWNLIST | WS_VSCROLL | WS_TABSTOP
    LTEXT           "MHz",IDC_STATIC,102,10,16,8
    CONTROL         "CAN FD",IDC_ZLG_FD,"Button",BS_AUTOCHECKBOX | WS_TABSTOP,128,9,48,10
    CONTROL         "CAN FD ISO",IDC_ZLG_ISO,"Button",BS_AUTORADIOBUTTON | WS_GROUP | WS_TABSTOP,180,9,62,10
    CONTROL         "Non-ISO",IDC_ZLG_NONISO,"Button",BS_AUTORADIOBUTTON | WS_TABSTOP,246,9,46,10
    CONTROL         "CAN FD加速",IDC_ZLG_EXP,"Button",BS_AUTOCHECKBOX | WS_TABSTOP,298,9,64,10
    CONTROL         "120欧终端电阻",IDC_ZLG_TERM,"Button",BS_AUTOCHECKBOX | WS_TABSTOP,368,9,80,10
    GROUPBOX        "CAN FD 仲裁域",IDC_STATIC,6,24,536,128
    LTEXT           "波特率:",IDC_STATIC,14,38,32,8
    COMBOBOX        IDC_ZLG_NOM,48,36,50,90,CBS_DROPDOWN | WS_VSCROLL | WS_TABSTOP
    LTEXT           "Kbps",IDC_STATIC,102,38,18,8
    LTEXT           "允许误差:",IDC_STATIC,126,38,40,8
    EDITTEXT        IDC_ZLG_NOM_ERR,168,36,36,12,ES_AUTOHSCROLL
    LTEXT           "%",IDC_STATIC,206,38,8,8
    LTEXT           "同步跳转宽度:",IDC_STATIC,218,38,56,8
    COMBOBOX        IDC_ZLG_SJW,276,36,32,60,CBS_DROPDOWNLIST | WS_VSCROLL | WS_TABSTOP
    LTEXT           "+1",IDC_STATIC,312,38,12,8
    CONTROL         "tseg2 >= sjw",IDC_ZLG_TSEG2_SJW,"Button",BS_AUTOCHECKBOX | WS_TABSTOP,330,37,70,10
    EDITTEXT        IDC_ZLG_ARB_BRP,64,52,28,11,ES_AUTOHSCROLL | ES_NUMBER
    EDITTEXT        IDC_ZLG_ARB_TSEG1,94,52,32,11,ES_AUTOHSCROLL | ES_NUMBER
    EDITTEXT        IDC_ZLG_ARB_TSEG2,128,52,32,11,ES_AUTOHSCROLL | ES_NUMBER
    CONTROL         "",IDC_ZLG_ARB_LIST,"SysListView32",LVS_REPORT | LVS_SINGLESEL | LVS_SHOWSELALWAYS | LVS_NOSORTHEADER | WS_BORDER | WS_VSCROLL | WS_TABSTOP,12,64,524,82
    GROUPBOX        "CAN FD 数据域",IDC_STATIC,6,156,536,108
    LTEXT           "波特率:",IDC_STATIC,14,170,32,8
    COMBOBOX        IDC_ZLG_DATA,48,168,50,90,CBS_DROPDOWN | WS_VSCROLL | WS_TABSTOP
    LTEXT           "Kbps",IDC_STATIC,102,170,18,8
    LTEXT           "允许误差:",IDC_STATIC,126,170,40,8
    EDITTEXT        IDC_ZLG_DATA_ERR,168,168,36,12,ES_AUTOHSCROLL
    LTEXT           "%",IDC_STATIC,206,170,8,8
    LTEXT           "同步跳转宽度:",IDC_STATIC,218,170,56,8
    COMBOBOX        IDC_ZLG_DATA_SJW,276,168,32,60,CBS_DROPDOWNLIST | WS_VSCROLL | WS_TABSTOP
    LTEXT           "+1",IDC_STATIC,312,170,12,8
    CONTROL         "tseg2 >= sjw",IDC_ZLG_DATA_TSEG2_SJW,"Button",BS_AUTOCHECKBOX | WS_TABSTOP,330,169,70,10
    EDITTEXT        IDC_ZLG_DATA_BRP,64,184,28,11,ES_AUTOHSCROLL | ES_NUMBER
    EDITTEXT        IDC_ZLG_DATA_TSEG1,94,184,32,11,ES_AUTOHSCROLL | ES_NUMBER
    EDITTEXT        IDC_ZLG_DATA_TSEG2,128,184,32,11,ES_AUTOHSCROLL | ES_NUMBER
    CONTROL         "",IDC_ZLG_DATA_LIST,"SysListView32",LVS_REPORT | LVS_SINGLESEL | LVS_SHOWSELALWAYS | LVS_NOSORTHEADER | WS_BORDER | WS_VSCROLL | WS_TABSTOP,12,196,524,62
    LTEXT           "计算结果:",IDC_STATIC,8,272,40,8
    EDITTEXT        IDC_ZLG_RESULT,50,270,418,12,ES_AUTOHSCROLL
    PUSHBUTTON      "复制",IDC_ZLG_COPY,474,269,32,14
    LTEXT           "提示: CAN FD推荐仲裁域BRP <= 数据域BRP,仲裁域波特率<=500Kbps时,推荐采样点87.5%",IDC_STATIC,8,288,530,8
    DEFPUSHBUTTON   "OK",IDOK,436,306,50,14
    PUSHBUTTON      "Cancel",IDCANCEL,492,306,50,14
END

IDD_DLG_CHANGE_REGISTERS DIALOGEX 0, 0, 360, 223
STYLE DS_SETFONT | DS_MODALFRAME | DS_CONTEXTHELP | WS_POPUP | WS_CAPTION | WS_SYSMENU
EXSTYLE WS_EX_CONTEXTHELP
CAPTION "Configure CAN Controller"
FONT 8, "MS Sans Serif", 0, 0, 0x1
BEGIN
    CONTROL         "List1",IDC_LIST_CHANNELS,"SysListView32",LVS_SINGLESEL | LVS_SHOWSELALWAYS | WS_BORDER | WS_TABSTOP,6,8,52,178
    EDITTEXT        IDC_EDIT_BAUD_RATE,106,13,40,14,ES_AUTOHSCROLL
    EDITTEXT        IDC_EDIT_BTR0,106,33,40,14,ES_UPPERCASE | ES_AUTOHSCROLL
    EDITTEXT        IDC_EDIT_BTR1,106,54,40,14,ES_UPPERCASE | ES_AUTOHSCROLL
    COMBOBOX        IDC_COMB_CLOCK,176,15,29,46,CBS_DROPDOWNLIST | CBS_SORT | WS_DISABLED | WS_VSCROLL | WS_TABSTOP
    COMBOBOX        IDC_COMB_SAMPLING,176,52,36,39,CBS_DROPDOWNLIST | CBS_SORT | WS_VSCROLL | WS_TABSTOP
    EDITTEXT        IDC_EDIT_BRP,251,54,21,13,ES_NOHIDESEL | ES_READONLY | NOT WS_BORDER | NOT WS_TABSTOP
    EDITTEXT        IDC_EDIT_WARNING_LIMIT,292,52,21,14,ES_AUTOHSCROLL
    CONTROL         "List1",IDC_LSTC_BTR_LIST,"SysListView32",LVS_REPORT | LVS_SINGLESEL | LVS_SHOWSELALWAYS | LVS_AUTOARRANGE | LVS_ALIGNLEFT | WS_BORDER | WS_TABSTOP,60,76,282,108
    PUSHBUTTON      "OK",IDC_ButtonOK,237,201,50,14
    PUSHBUTTON      "Cancel",IDCANCEL,292,201,50,14
    GROUPBOX        "",IDC_STAT_BAUD_RATE,60,3,105,70,BS_CENTER
    GROUPBOX        "Options",IDC_STAT_ACCEPTANCE,245,3,97,31
    LTEXT           "Baud Rate:",IDC_STAT_BUAD_RATE,67,13,36,14,SS_CENTERIMAGE
    LTEXT           "BTR0: 0x",IDC_STAT_BTR0,73,33,30,14,SS_CENTERIMAGE
    LTEXT           "BTR1: 0x",IDC_STAT_BTR1,73,54,30,14,SS_CENTERIMAGE
    GROUPBOX        "Clock",IDC_STAT_CLOCK,170,3,70,31,BS_LEFT
    LTEXT           "bps",IDC_STAT_KBPS,148,13,17,14,SS_CENTERIMAGE
    GROUPBOX        "No. of Sample/Bit",IDC_STATIC,170,39,70,34,BS_LEFT
    LTEXT           "MHz",IDC_STATIC,208,19,16,8
    GROUPBOX        "BRP",IDC_STATIC,245,39,35,34
    GROUPBOX        "Warning Limit",IDC_STATIC,285,39,57,34
    PUSHBUTTON      "&Filter",IDC_CBTN_ACCEPTANCE,252,14,39,14
    CONTROL         "________________________________________________________________________________________________",IDC_STAT_LINE3,
                    "Static",SS_LEFTNOWORDWRAP | WS_DISABLED | WS_GROUP,0,185,360,10
    PUSHBUTTON      "&Blink",IDC_CBTN_BLINK,296,14,39,14
    LTEXT           "Description: ",IDC_STATIC,10,203,40,8
    EDITTEXT        IDC_EDIT_CHANNEL_DESC,49,203,178,13,ES_AUTOHSCROLL | ES_READONLY | NOT WS_BORDER
END

IDD_DLG_CHANGE_REGISTERS DLGINIT
BEGIN
    IDC_COMB_CLOCK, 0x403, 3, 0
0x3631, "\000"
    IDC_COMB_SAMPLING, 0x403, 2, 0
0x0031,
    IDC_COMB_SAMPLING, 0x403, 2, 0
0x0033,
    0
END

IDD_DLG_ACCEPTANCE DIALOGEX 0, 0, 208, 161
STYLE DS_SETFONT | DS_MODALFRAME | DS_CONTEXTHELP | WS_POPUP | WS_CAPTION | WS_SYSMENU
EXSTYLE WS_EX_CONTEXTHELP
CAPTION "Acceptance Filter"
FONT 8, "MS Sans Serif", 0, 0, 0x1
BEGIN
    CONTROL         "Single",IDC_RBTN_SINGLE_FILTER_MODE,"Button",BS_AUTORADIOBUTTON | WS_GROUP,47,20,52,8
    CONTROL         "Dual",IDC_RBTN_DUAL_FILTER_MODE,"Button",BS_AUTORADIOBUTTON,102,20,52,8
    EDITTEXT        IDC_EDIT_ACCEPTANCE_CODE1,35,61,26,12,ES_AUTOHSCROLL
    EDITTEXT        IDC_EDIT_ACCEPTANCE_CODE2,74,61,26,12,ES_AUTOHSCROLL
    EDITTEXT        IDC_EDIT_ACCEPTANCE_CODE3,116,61,26,12,ES_AUTOHSCROLL
    EDITTEXT        IDC_EDIT_ACCEPTANCE_CODE4,157,61,26,12,ES_AUTOHSCROLL
    EDITTEXT        IDC_EDIT_ACCEPTANCE_MASK1,35,110,26,12,ES_AUTOHSCROLL
    EDITTEXT        IDC_EDIT_ACCEPTANCE_MASK2,74,110,26,12,ES_AUTOHSCROLL
    EDITTEXT        IDC_EDIT_ACCEPTANCE_MASK3,116,110,26,12,ES_AUTOHSCROLL
    EDITTEXT        IDC_EDIT_ACCEPTANCE_MASK4,157,110,26,12,ES_AUTOHSCROLL
    PUSHBUTTON      "&Cancel",IDCANCEL,118,140,50,14
    DEFPUSHBUTTON   "O&K",IDC_CBTN_ACCETANCE_OK,39,140,50,14
    GROUPBOX        "Mode",IDC_STAT_FILTER_MODE,38,7,131,28
    GROUPBOX        "Code",IDC_STAT_ACCEPTANCE_FILTER_CODE,18,40,171,42
    GROUPBOX        "Mask",IDC_STAT_ACCEPTANCE_FILTER_MASK,18,86,171,44
    LTEXT           "0x",IDC_STATIC,26,63,8,8
    LTEXT           "0x",IDC_STATIC,66,63,8,8
    LTEXT           "0x",IDC_STATIC,108,63,8,8
    LTEXT           "0x",IDC_STATIC,149,63,8,8
    LTEXT           "0x",IDC_STATIC,26,112,8,8
    LTEXT           "0x",IDC_STATIC,66,112,8,8
    LTEXT           "0x",IDC_STATIC,108,112,8,8
    LTEXT           "0x",IDC_STATIC,149,112,8,8
    LTEXT           "Byte0",IDC_STATIC,39,50,19,8
    LTEXT           "Byte1",IDC_STATIC,80,50,19,8
    LTEXT           "Byte2",IDC_STATIC,122,50,19,8
    LTEXT           "Byte3",IDC_STATIC,162,50,19,8
    LTEXT           "Byte0",IDC_STATIC,39,99,19,8
    LTEXT           "Byte1",IDC_STATIC,80,99,19,8
    LTEXT           "Byte2",IDC_STATIC,122,99,19,8
    LTEXT           "Byte3",IDC_STATIC,162,99,19,8
END
